@model Kynapsis.Models.Fisioterapeuta
<body>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section id="container">
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right"></div>
            </div>
            <a href="index.html" class="logo"><b>Conex Kinesis</b></a>
            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li><a class="logout" href="@Url.Action("Cuenta", "Login")">Cerrar Sesión</a></li>
                </ul>
            </div>
        </header>
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <ul class="sidebar-menu" id="nav-accordion">
                    <p class="centered"><a href="index.html"><img src="~/img/logo-pequeño-5.png" width="100"></a></p>
                    <h5 class="centered">ejemplo</h5>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="li_clip "></i>
                            <span> USUARIOS</span>
                        </a>
                        <ul class="sub">
                            <li><a href="info-usuario.html">Informacion usuario</a></li>
                            <li><a href="creacionusuario.html">Crear usuario</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="li_calendar"></i>
                            <span>TALENTO HUMANO</span>
                        </a>
                        <ul class="sub">
                            <li><a href="personal nuevo.html">nuevo personal</a></li>
                            <li><a href="programar horarios.html">programacion de horario</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </aside>

        <section id="main-content">
            <section class="wrapper">
                <div class="row">
                    <div class="col-md-11 col-md-offset-1">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3>Agregar fisioterapeuta</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                    
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-2" })
                                              
                                                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                                <div class="col-md-10">
                                                    @Html.ValidationMessageFor(model => model.Nombre)
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Apellido, new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
                                                <div class="col-md-10">
                                                    @Html.ValidationMessageFor(model => model.Apellido)
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.FechaNacimiento, new { @class = "control-label col-md-2" })
                                                @Html.TextBoxFor(model => model.FechaNacimiento, new { type = "date" , @class = new { @class = "form-control" } })

                                                <div class="col-md-10">
                                                    @Html.ValidationMessageFor(model => model.FechaNacimiento)
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Correo, new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" } })
                                                <div class="col-md-10">
                                                    @Html.ValidationMessageFor(model => model.Correo)
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Direccion, new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                                                <div class="col-md-10">
                                                    @Html.ValidationMessageFor(model => model.Direccion)
                                                </div>
                                            </div>
                                   
                                    </div>
                                    <div class="col-md-6">
                                        @*<form role="form" action="index.html">*@
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.TipoDocumento, new { @class = "control-label col-md-2" })
                                                @*@Html.DropDownListFor(model => model.TipoDocumento, new { @class = "form-control input-xlarge required"})*@
                                            
                                       

                                                @Html.DropDownListFor(model => model.TipoDocumento, new List<SelectListItem>
                                                {
                                               new SelectListItem() {Text = "C.C", Value="C.C"},
                                               new SelectListItem() {Text = "Libreta Militar", Value="Libreta Militar"},
                                               new SelectListItem() {Text = "Tarjeta Identidad", Value="Tarjeta Identidad"}
                                               } , new { @class = "form-control" })
                                                
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Documento, new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.Documento, new { htmlAttributes = new { @class = "form-control" } })
                                                <div class="col-md-10">
                                                    @Html.ValidationMessageFor(model => model.Documento)
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Genero</label>
                                                @Html.DropDownListFor(model => model.Sexo, new List<SelectListItem>
                                                {
                                               new SelectListItem() {Text = "Masculino", Value="Masculino"},
                                               new SelectListItem() {Text = "Femenino", Value="Femenino"}
                                               }, new { @class = "form-control" })
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Telefono, new { @class = "control-label col-md-2" })
                                                @Html.TextBoxFor(model => model.Telefono, new { type = "tel", @class = new { @class = "form-control" } })
                                                <div class="col-md-10">
                                                    @Html.ValidationMessageFor(model => model.Telefono)
                                                </div>
                                            </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Edad, new { @class = "control-label col-md-2" })
                                            @Html.TextBoxFor(model => model.Edad, new { type = "tel", @class = new { @class = "form-control" } })
                                            <div class="col-md-10">
                                                @Html.ValidationMessageFor(model => model.Edad)
                                            </div>
                                        </div>
                                            <br>
                                          
                                        @*</form>*@
                                    </div>
                                    
                            </div>
                              
                                    <center><button class="btn btn-success" type="submit">Agregar</button></center>
                                
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>

    <br><br><br><br><br><br>
    <footer class="site-footer">
        <div class="text-center">
            <a href="agregar fisioterapeuta.html#" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
}
</body>
